@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Muli:wght@300;400&display=swap");
h1 {
  font-family: "Bangers", cursive;
  font-size: 25px;
  letter-spacing: 1px; }

h2 {
  font-family: "Bangers", cursive;
  font-size: 20px;
  letter-spacing: 1px; }

p {
  font-family: "Muli", sans-serif;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1px; }

p.detail {
  font-size: 10px; }

p.footer {
  font-size: 8px; }

@media screen and (min-width: 768px) {
  h1 {
    font-size: 60px; }

  h2 {
    font-size: 40px; }

  p {
    font-size: 22px;
    font-weight: 300; }

  p.detail {
    font-size: 18px; }

  p.footer {
    font-size: 14px; } }
* {
  border: 0;
  padding: 0;
  margin: 0; }

html {
  position: relative;
  min-height: 100%; }

body {
  font-family: "Muli", sans-serif;
  color: white;
  margin-bottom: 100px;
  background-color: #C9D1E2;
  line-height: 1 !important; }

body.one {
  background: url(../images/background.jpg);
  background-repeat: no-repeat !important;
  background-size: cover !important; }

body.two {
  background: url(../images/background2.jpg) !important;
  background-repeat: no-repeat !important;
  background-size: cover !important; }

body.three {
  background: url(../images/Background3.jpg) !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: right !important; }

ul {
  list-style-type: none; }

a {
  color: #00B7FF;
  text-decoration: none; }

header {
  background-color: transparent;
  padding: 12px 14px;
  position: absolute !important;
  z-index: 500;
  width: 100%; }
  header span {
    margin-left: 15px;
    font-weight: bolder;
    font-size: 1.5em;
    text-transform: uppercase;
    position: relative;
    top: 5px; }

.display-4 {
  font-size: 2.25rem; }

.user-message {
  text-align: center;
  font-size: 2rem; }

.hide {
  display: none !important; }

.center {
  text-align: center; }

@media screen and (min-width: 768px) {
  body.one {
    background: url(../images/background_desktop.jpg);
    background-position: 80% !important; }

  body.two {
    background: url(../images/Background2_desktop.jpg) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important; }

  body.three {
    background: url(../images/Background3_desktop.jpg) !important;
    background-position: center !important; } }
.modal-content {
  border: 0 none !important;
  border-radius: 30px !important;
  outline: 0;
  padding: 15px; }
  .modal-content h1 {
    color: #9863DB !important; }

.modal-header {
  border: none !important;
  padding: 30px 30px 0 30px !important; }

.close {
  color: #C1A9E5 !important; }

@media screen and (min-width: 1024px) {
  .modal-content {
    padding: 30px !important;
    border-radius: 50px !important; }

  .modal-header {
    padding: 40px 75px 0 75px !important; }

  .form-control {
    padding: 30px !important; } }
input, input.form-control {
  background-color: white !important;
  border: 1px solid #AE94CF !important;
  border-radius: 15px !important; }

label {
  color: black; }

.btn {
  border-radius: 15px !important;
  padding: 10px 20px !important; }

.btn-primary {
  background-color: #C1A9E5 !important;
  border: none !important; }

.btn-outline-light:not(:disabled):not(.disabled).active, .btn-outline-light:not(:disabled):not(.disabled):active, .show > .btn-outline-light.dropdown-toggle,
.btn-outline-light:hover {
  color: white !important;
  background-color: #C1A9E5 !important;
  border-color: #AE94CF !important; }

.icon-home img {
  width: 100%; }

.container #allusers > div:first-of-type {
  padding-top: 100px !important; }

.user-message {
  margin: 0.25em 0 1em; }

.card {
  cursor: pointer;
  color: white;
  background: transparent;
  border: none;
  margin-bottom: 1em; }
  .card .card-body {
    padding: 5px !important; }
    .card .card-body p {
      margin: 10px 0 0; }

.media-genres-container {
  padding: 0 !important;
  text-align: right; }
  .media-genres-container ul.media-genres {
    list-style-type: none;
    background: transparent;
    margin: 0; }
    .media-genres-container ul.media-genres li {
      display: inline-block;
      background-color: rgba(255, 255, 255, 0.6);
      border-radius: 8px;
      border: 1px solid white;
      padding: 0 10px 5px 10px;
      margin-left: 5px; }
      .media-genres-container ul.media-genres li a {
        font-size: 8px;
        color: white;
        text-decoration: none;
        line-height: 0 !important; }
      .media-genres-container ul.media-genres li a:hover {
        color: #9863DB; }

.media-details-cont {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0 50px 0 0; }
  .media-details-cont h1 {
    color: #9863DB !important; }
  .media-details-cont p {
    color: black !important; }

.media-info .back-button h3 {
  font-family: "Bangers", cursive;
  font-size: 20px; }
.media-info .back-button:hover {
  cursor: pointer; }

@media screen and (min-width: 768px) {
  .media-genres-container ul.media-genres li {
    padding: 15px 20px 10px 20px;
    margin-left: 15px;
    border-radius: 15px; }
    .media-genres-container ul.media-genres li a {
      font-size: 22px; } }
.fs-video {
  width: 100%; }

.media-container:first-of-type {
  padding-bottom: 1em; }

.media-container:last-of-type {
  padding-left: 0;
  padding-right: 0; }

.media-title {
  font-size: 1.5em;
  padding-top: 1em;
  font-weight: bolder; }

.media-details {
  font-size: 1.2em;
  padding: 0.5em 0; }

.media-year, .media-time {
  font-size: 1em; }

.media-year {
  display: block;
  float: right; }

.media-type {
  list-style-type: none;
  margin-bottom: 0; }
  .media-type li {
    padding: 1rem;
    cursor: pointer;
    display: inline-block;
    width: 33%;
    text-align: center; }
    .media-type li span:first-of-type {
      font-size: 2rem;
      color: white; }
  .media-type li:hover span:first-of-type {
    color: #9863DB; }

.media-thumb {
  height: 140px;
  margin: 0.7em; }

.img-thumbnail {
  background-color: transparent !important;
  border: 0 none !important; }

.image-details {
  width: 100% !important; }

.retrievedvideos {
  display: block; }

.hide {
  display: none !important; }

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #706F72;
  display: flex;
  flex-direction: column;
  align-items: center !important;
  justify-content: center !important;
  text-align: center !important; }
  footer ul {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: space-between;
    margin: 0 auto;
    list-style-type: none;
    align-items: center;
    text-align: center;
    margin-bottom: 15px; }
    footer ul li {
      display: inline-block !important;
      margin: 0 10px !important; }
  footer p.footer {
    width: 70%; }

#login h1, #login p {
  color: white; }

.roku-jumbotron {
  color: #333;
  margin: 70px 30px 0 !important; }

@media screen and (min-width: 768px) {
  .user-message {
    font-size: 2.5rem; }

  .media-title {
    font-size: 1.25em; }

  .media-year {
    float: none; }

  .media-container:first-of-type {
    padding-bottom: 0; }

  .media-thumb {
    height: 165px; }

  footer ul {
    max-width: none; } }
@media (min-width: 992px) {
  .display-4 {
    font-size: 3.5rem; }

  .thumb-wrapper {
    max-height: 350px;
    overflow-x: auto; }

  .media-title {
    font-size: 1.75em; }

  .media-type {
    list-style-type: none;
    margin-bottom: 0; }
    .media-type li {
      padding: 1rem;
      border-bottom: thin solid #706F72;
      cursor: pointer;
      display: block;
      width: auto;
      text-align: left; }
      .media-type li span:first-of-type {
        padding-right: 1rem;
        font-size: 2rem;
        color: white; }
      .media-type li span:last-of-type {
        display: inline-block !important;
        text-transform: uppercase;
        font-size: 1.2em;
        position: relative;
        top: -6px; }
    .media-type li:hover span:first-of-type {
      color: #9863DB; }
    .media-type li:last-of-type {
      border-bottom: none; } }

/*# sourceMappingURL=master.css.map */
