@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Muli:wght@300;400&display=swap');

$Bangers: 'Bangers', cursive;
$Muli: 'Muli', sans-serif;

h1 {
    font-family: $Bangers;
    font-size: 25px;
    letter-spacing: 1px;
}

h2 {
    font-family: $Bangers;
    font-size: 20px;
    letter-spacing: 1px;
}

p {
    font-family: $Muli;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
}

// Movie Detail & Comments
p.detail {
    font-size: 10px;
}

p.footer {
    font-size: 8px;
}

$purple: #9863DB;
$lighterpurple: #C1A9E5;
$darkerpurple: #AE94CF;
$gray: #706F72;

$white-opacity: 0.8;
$gray-opacity: 0.54;

@media screen and (min-width: 768px) {
    h1 {
        font-size: 60px;
    }
    
    h2 {
        font-size: 40px;
    }
    
    p {
        font-size: 22px;
        font-weight: 300;
    }
    
    // Movie Detail & Comments
    p.detail {
        font-size: 18px;
    }
    
    p.footer {
        font-size: 14px;
    }
}

