* { border: 0; padding: 0; margin: 0; }

html { position: relative; min-height: 100%; }

body {
	font-family: $Muli;
	// background-color: white;
	color: white;
	margin-bottom: 100px;
	// background: url(../images/gunmetal.jpg) repeat;
	background-color: #C9D1E2;
	line-height: 1!important;
}

body.one {
	background: url(../images/background.jpg);
	background-repeat: no-repeat!important;
    background-size: cover!important;
}

body.two {
	background: url(../images/background2.jpg)!important;
	background-repeat: no-repeat!important;
    background-size: cover!important;
    // background: pink;
}
body.three {
	background: url(../images/Background3.jpg)!important;
	background-repeat: no-repeat!important;
	background-size: cover!important;
	background-position: right!important;
    // background: pink;
}
ul {
	list-style-type: none;
}

a {
	color: #00B7FF;
	text-decoration: none;
}

header {
	background-color: transparent;
	padding: 12px 14px;
	position: absolute!important;
	z-index: 500;
	width: 100%; 

	span {
		margin-left: 15px;
		font-weight: bolder;
		font-size: 1.5em;
		text-transform: uppercase;
		position: relative;
		top: 5px;
	}
}

// #login > div:first-of-type { padding-top: 200px; }

// resets for small sizes

.display-4 {
	font-size: 2.25rem;
}

.user-message { text-align: center; font-size: 2rem; }

.hide {
	display: none!important;
}

.center {
	text-align: center;
}

@media screen and (min-width: 768px) {
	body.one {
		background: url(../images/background_desktop.jpg);
		background-position: 80%!important;
	}
	
	body.two {
		background: url(../images/Background2_desktop.jpg)!important;
		background-repeat: no-repeat!important;
		background-size: cover!important;
		background-position: center!important;
		// background: pink;
	}

	body.three {
		background: url(../images/Background3_desktop.jpg)!important;
		background-position: center!important;
	}
}