.media-genres-container {
    padding: 0!important;
    text-align: right;
    
    ul.media-genres {
        list-style-type: none;
        background: transparent;
        margin: 0;

        li { 
            display: inline-block;
            background-color: rgba(255,255,255,0.6);
            border-radius: 8px;
            border: 1px solid white;
            padding: 0 10px 5px 10px;
            margin-left: 5px;

            a {
                font-size: 8px;
                color: white;
                text-decoration: none;
                line-height: 0!important;
            }
            
            a:hover { color: $purple; }
        }
    }
}

.media-details-cont {
    background-color: rgba(255,255,255,0.3);
    border-radius: 0 50px 0 0;

    h1 {
        color: $purple!important;
    }

    p {
        color: black!important;
    }
}

.media-info {
    .back-button {
        h3 {
            font-family: $Bangers;
            font-size: 20px;
        }

        &:hover {
            cursor: pointer;
        }
    }
}

@media screen and (min-width: 768px) {
    .media-genres-container {
        ul.media-genres {

            li {
                padding: 15px 20px 10px 20px;
                margin-left: 15px;
                border-radius: 15px;

                a {
                    font-size: 22px;
                }

            }
        }
    }

}


.fs-video { width: 100% }

.media-container:first-of-type { padding-bottom: 1em; }
.media-container:last-of-type { padding-left: 0; padding-right: 0; }

// top left media details
.media-title { 
    font-size: 1.5em; 
    padding-top: 1em;
    font-weight: bolder; 
}

.media-details { font-size: 1.2em; padding: 0.5em 0; }

.media-year, .media-time { font-size: 1em; }
.media-year { display: block; float: right; }


// left hand pad list -> audio, film television
.media-type { 
    list-style-type: none;
    margin-bottom: 0;
    
    li { 
        padding: 1rem;
        cursor: pointer;
        display: inline-block;
        width: 33%;
        text-align: center;

        span:first-of-type {  
            font-size: 2rem; 
            color: white;
        }
    }

    li:hover span:first-of-type { color: $purple }
}

// genre filter links


// media thumbnails
// FILTERING


.media-thumb {
    height: 140px;
    margin: 0.7em;
}

.img-thumbnail {
    background-color: transparent!important;
    border: 0 none!important;
}

.image-details {
    width: 100%!important;
}