.container #allusers > div:first-of-type {
    padding-top: 100px!important;
}

#allusers {
    // background: url('./images/background_home.svg');
    // background-color: #C9D1E2;
}

.user-message { margin: 0.25em 0 1em; }

.card { 
    cursor: pointer;  
    color: white; 
    background: transparent;
    border: none;
    margin-bottom: 1em;

    .card-body {
        padding: 5px!important;

        p { margin: 10px 0 0; }
    }
}